$corDeFundoPrincipal: #0e0e0e;
$corDeFundoAccordion: rgb(17, 17, 17);
$corDoNome: rgb(170, 0, 0);
$corDoTitulo: rgb(211, 211, 211);
$corDeTextosSecundarios: rgb(150, 150, 150);
$corDoSpanTempo: rgb(32, 32, 32);
$corDoTextoDark: #000;