@use 'variaveis';
@use 'header';
@use 'hero';
@use 'movies';
@use 'plans';
@use 'footer';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-family: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body {
    background-color: variaveis.$corDeFundoPrincipal;
}

.link-button {
    font-size: 24px;
    width: 100%;
    height: 56px;
    padding: 8px 14px;
    border-radius: 4px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    background-color: variaveis.$corDoSpanTempo;
    color: variaveis.$corDoTextoDark;

    &:hover {
        background-color: variaveis.$corDeFundoAccordion;
        color: variaveis.$corDeTextosSecundarios;
    }
}